{% extends "in_session.html" %}
{% load i18n %}

{% block baselink %}
<!-- ie behaviour -->
<style type="text/css">img {behavior: url("/media/style/pngbehavior.htc");}</style>
<base href="{{ baselink }}" />
{% endblock baselink %}

{% block breadcrumb %}
<a href="{% url l_dashboard %}">{% trans "dashboard" %}</a>
&gt; {% trans "test grading" %}
{% endblock breadcrumb %}


{% block content %}
<div class="content">

<h1>{% trans "Grade" %}</h1>
	{% for enonce in enonces %}
	<div class="enonce">
		<p>{{ enonce.libel|safe }}</p>
		{% for question in enonce.questions %}
			<p>{{ question.libel|safe }}</p>
			<p class="score">{% trans "You answered" %} {{ question.reponse }} : {{ question.points }} point(s).</p>
		{% endfor %}
	</div>
	{% endfor%}
	<div class="infomsg">
		<p>{% trans "Final score" %} {{ total }} / {{ max }}.</p>
		{% if valide %}
		<p>{% trans "Congratulations, you succeeded !" %}</p>
		{% else %}
        <p>{% trans "Your score is too low, please try again." %} <a href="/testing/{{ granule }}/">{% trans "Try again now" %}</a></p>
		{% endif %}
	</div>

</div><!-- END .content -->
{% endblock content %}
