<!-- vim: set encoding=utf8 -->
{% extends "in_session.html" %}
{% load i18n %}

{% block baselink %}
<!-- ie behaviour -->
<style type="text/css">img {behavior: url("/media/style/pngbehavior.htc");}</style>
<base href="{{ baselink }}" />

{% endblock baselink %}
{% block breadcrumb %}
<a href="/learning/tdb/">{% trans "dashboard" %}</a>
&gt; {% trans "test" %}
{% endblock breadcrumb %}

{% block content %}
<h2>{{ titre }}</h2>
{% if msg %}
<p class="infomsg">{{ msg|safe }}</p>
{% endif %}
<form action="/testing/noter/" method="post">
	{% for enonce in enonces %}
	<fieldset class="enonce">
		<p>{{ enonce.libel|safe }}</p>
		{% for question in enonce.questions %}
			<p>{{ question|safe }}</p>
		{% endfor %}
	</fieldset>
	{% endfor%}
	<input type="submit" name="submit" value="{% trans "Grade the test" %}" />
</form>
{% endblock content %}
