{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "News" %}{% endblock %}

{% block breadcrumb %}{% trans "News" %}{% endblock breadcrumb %}

{% block content %}

	<div class="content">

		<div class="block25">
			<a href="#" class="big-link l-demo">
				<span class="title">{% trans "Demonstration" %}</span>
				<span class="desc strong">{% trans "Lorem ipsum dolor." %}</span>
			</a>
		</div>
		<div class="block75 last">

			<div class="item">
				<h2>{% trans "Learngest: real benefits for your training programs" %}</h2>
				<p class="small">{% blocktrans %}Published <strong>14 May 2010</strong> by <strong>Lorem Ipsum</strong>{% endblocktrans %}</p>
				<p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis erat sed massa posuere nec facilisis leo blandit. Curabitur metus libero, mollis in fermentum id, blandit sed turpis. Nam ultricies eleifend risus, non ullamcorper nunc sollicitudin vel. Pellentesque tincidunt rutrum mi a pulvinar. Mauris pretium tellus in leo aliquam at vulputate massa rhoncus. Vivamus rutrum neque sit amet est sodales vel accumsan ipsum lobortis. Nam adipiscing vestibulum est, at gravida quam sodales eu." %}</p>
				<p>{% trans "Aliquam in elit posuere massa dignissim fermentum. Nam consequat nisl vel felis cursus placerat. Praesent dictum ullamcorper ante, at placerat nisl eleifend et. Quisque bibendum, orci sit amet ultrices dapibus, urna est viverra metus, sollicitudin ultricies purus enim nec lacus. Maecenas in justo et augue imperdiet mattis nec at odio. Curabitur tellus metus, viverra ut vestibulum eget, pretium a est." %}</p>
				<p>{% trans "Pellentesque venenatis, felis at ullamcorper mattis, lectus mauris porta leo, sed hendrerit magna tortor sit amet massa. In hac habitasse platea dictumst. Donec auctor volutpat mattis. Morbi sapien ligula, convallis id volutpat ac, viverra pulvinar nibh. Nulla facilisi. Morbi pretium mauris id lectus consectetur pellentesque. Praesent id dignissim tellus." %}</p>
			</div><!-- END .item -->

		</div><!-- END .block75.last -->

		<br class="clear" />

	</div><!-- END .content -->

{% endblock content %}
