{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Overview" %}{% endblock %}

{% block breadcrumb %}{% trans "Overview" %}{% endblock breadcrumb %}

{% block content %}

	<div class="highlight-container">
		<div class="highlight overview">
			<h1>{% trans "Overview" %}</h1>
			<p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis erat sed massa posuere nec facilisis leo blandit. Curabitur metus libero, mollis in fermentum id, blandit sed turpis. Nam ultricies eleifend risus." %}</p>
		</div>
	</div><!-- END .highlight-container -->

	<div class="content">
		<h1>{% trans "Part 1: Lorem ipsum" %}</h1>
		<div class="block50">
			<h2>{% trans "The advantages of distance learning and eLearning" %}</h2>
			<p>{% trans "Our training programs are designed to reduce as much as possible the difficulties often faced by companies and educational establishments using traditional learning methods:" %}</p>
			<ul class="alt">
				<li>{% trans "Unordered list test" %}</li>
				<li>{% trans "Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
				<li>{% trans "Yet another element in the list" %}</li>
				<li>{% trans "Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
			</ul>
		</div>
		<div class="block50 last">
			<h2>{% trans "Learngest: real benefits for your training programs" %}</h2>
			<p>{% trans "Our training programs are designed to reduce as much as possible the difficulties often faced by companies and educational establishments using traditional learning methods:" %}</p>
			<ul class="alt">
				<li>{% trans "Unordered list test" %}</li>
				<li>{% trans "Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
				<li>{% trans "Yet another element in the list" %}</li>
				<li>{% trans "Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
			</ul>
		</div>
		<br class="clear" />
		<br />
		<h1>Part 2: Lorem ipsum</h1>
		<div class="block50">
			<h2>{% trans "The advantages of distance learning and eLearning" %}</h2>
			<p>{% trans "Our training programs are designed to reduce as much as possible the difficulties often faced by companies and educational establishments using traditional learning methods:" %}</p>
			<ul class="alt">
				<li>{% trans "Unordered list test" %}</li>
				<li>{% trans "Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
				<li>{% trans "Yet another element in the list" %}</li>
				<li>{% trans "Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
			</ul>
		</div>
		<div class="block50 last">
			<h2>{% trans "Learngest: real benefits for your training programs" %}</h2>
			<p>{% trans "Our training programs are designed to reduce as much as possible the difficulties often faced by companies and educational establishments using traditional learning methods:" %}</p>
			<ul class="alt">
				<li>{% trans "Unordered list test" %}</li>
				<li>{% trans "Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
				<li>{% trans "Yet another element in the list" %}</li>
				<li>{% trans "Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}</li>
			</ul>
		</div>
		<br class="clear" />
	</div><!-- END .content -->

{% endblock content %}
