{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
{% if admin %}
&gt; <a href="{% url c_lista %}?l">{% trans "students" %}</a>
{% endif %}
&gt; <a href="{% url c_detail %}?id={{ u.id }}">{% trans "detail" %}</a>
&gt; {% trans "module" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

	<div class="admin-item">
		<h1>{{ u.prenom_nom }} - {{ u.groupe }}</h1>
		<h2>{{ module.title }}</h2>

	{% if module.valide %}
		<p>{% trans "Module completed on" %} {{ module.datev }}</p>
		{% if module.retard %}
		<p class="retard">{% trans "Deadline was" %} {{ module.echeance }}</p>
		{% endif %}
	{% else %}
		{% if module.echeance %}
		<p{% if module.retard %} class="retard"{% endif %}>{% trans "Deadline" %} {{ module.echeance }}</p>
		{% endif %}
	{% endif %}
	</div>

	{% if module.docs %}
	<div class="admin-item">
		<h3>{% trans "Contents" %}</h3>
		<table>
		<thead>
		<tr>
		<th style="width: 35%;">{% trans "Content" %}</th>
		<th style="width: 20%;">{% trans "Last view" %}</th>
		<th class="center">{% trans "Times viewed" %}</th>
		</tr>
		</thead>
		<tbody>
		{% for doc in module.docs %}
		<tr class="{% cycle odd,even %}">
		    <td><img src="{{doc.img }}" alt="{{ doc.typd }}" /> {{ doc.titre }}</td>
		<td>{{ doc.lastconsult }}</td>
		<td class="center">{{ doc.nbconsult }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
	{% endif %}

	{% if module.tests %}
	<div class="admin-item">
		<h3>{% trans "Tests" %}</h3>
		<table>
		<thead>
		<tr>
		<th style="width: 25%;">{% trans "Test" %}</th>
		<th class="center">{% trans "Tries" %}</th>
		<th class="center">{% trans "Last try" %}</th>
		<th class="center">{% trans "Best try" %}</th>
		<th class="center">{% trans "Completed" %}</th>
		</tr>
		</thead>
		<tbody>
		{% for test in module.tests %}
		<tr class="{% cycle odd,even %}">
		<td>{{ test.title }}</td>
		<td class="center">{{ test.nbtries }}</td>

		<td class="center">{% if test.lastdate %}{{ test.lastdate }} - {{ test.lastscore }} %{% endif %}</td>
		<td class="center">{% if test.bestdate %}{{ test.bestdate }} - {{ test.bestscore }} %{% endif %}</td>
		<td class="center">{% if test.validdate %}{{ test.validdate }} - {{ test.validscore }} %{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
	{% endif %}

</div><!-- END .content -->
{% endblock content %}
