{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
&gt; <a href="{% url c_lista %}?l">{% trans "students" %}</a>
&gt; <a href="{% url c_detail %}?id={{ u.id }}">{% trans "detail" %}</a>
&gt; {% trans "profile" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

    <h1><a href="{% url c_detail %}?id={{ u.id }}">{{ u.prenom_nom }}</a> - <a href="{% url c_lista %}?groupe={{ u.groupe.id }}">{{ u.groupe }}</a></h1>

	{% if msg %}<p class="infomsg">{{ msg|safe }}</p>{% endif %}

	<form action="" method="post">
		<fieldset>
			<h2>{% trans "Credentials" %}</h2>
			<p><label for="login">{% trans "Login" %}</label> {{ u.login }}</p>
			<p><label for="id_{{ form.newpassword.name }}">{{ form.newpassword.label }}</label> {{ form.newpassword }}</p>
			<p{% if form.newpassword2.errors %} class="error"{% endif %}><label for="id_{{ form.newpassword2.name }}">{{ form.newpassword2.label }}</label> {{ form.newpassword2 }} {{ form.errors.newpassword2 }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Group" %}</h2>
			<p{% if form.groupe_id.errors %} class="error"{% endif %}><label for="id_{{ form.groupe_id.name }}">{{ form.groupe_id.label }}</label> {{ form.groupe_id }} {{ form.errors.groupe_id }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Identity" %}</h2>
			<p{% if form.nom.errors %} class="error"{% endif %}><label for="id_{{ form.nom.name }}">{{ form.nom.label }}</label> {{ form.nom }} {{ form.errors.nom }}</p>
			<p{% if form.prenom.errors %} class="error"{% endif %}><label for="id_{{ form.prenom.name }}">{{ form.prenom.label }}</label> {{ form.prenom }} {{ form.errors.prenom }}</p>
			<p{% if form.email.errors %} class="error"{% endif %}><label for="id_{{ form.email.name }}">{{ form.email.label }}</label> {{ form.email }} {{ form.errors.email }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Valid till" %}</h2>
			<p{% if form.fermeture.errors %} class="error"{% endif %}><label for="id_{{ form.fermeture.name }}">{{ form.fermeture.label }}</label> {{ form.fermeture }} {{ form.errors.fermeture }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Language" %}</h2>
			<p{% if form.langue.errors %} class="error"{% endif %}><label for="id_{{ form.langue.name }}">{{ form.langue.label }}</label> {{ form.langue }} {{ form.errors.langue }}</p>
		</fieldset>
		<fieldset class="submit">
			<input type="submit" value="{% trans "Save" %}" />
		</fieldset>
	</form>

</div><!-- END .content -->
{% endblock content %}
