{% extends "in_session.html" %}
{% load i18n %}

{% block javascript %}
    <script type="text/javascript" src="/media/js/jquery-1.1.3.1.pack.js"></script>
    <script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
{% endblock javascript %}

{% block breadcrumb %}<a href="{% url c_admin %}">{% trans "Administration" %}</a> &gt; {% trans "Clients statistics" %}{% endblock breadcrumb %}

{% block content %}
<div class="content">

	<h2>{% trans "Client statistics" %}</h2>

	{% include 'includes/filter.html' %}

	{% if liste_groupes %}
	<script type="text/javascript">
	$(document).ready(function() {
		$("#lista").tablesorter({ widgets: ['zebra']});
		var c = [[0,0],[1,0]];
		$("#lista").trigger("sorton",[c]);
		return false;
	});
	</script>
	<table id="lista">
		<thead>
			<tr>
				<th>{% trans "Client" %}</th>
				<th>{% trans "Group" %}</th>
				<th class="center">{% trans "# Courses" %}</th>
				<th class="center">{% trans "# Modules" %}</th>
				<th class="center">{% trans "# Logins" %}</th>
				<th class="center">{% trans "# Connected Yesterday" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for groupe in liste_groupes %}
            <tr>
				<td>{{ groupe.client }}</td>
				<td><a href="/coaching/lista/?groupe={{ groupe.id }}">{{ groupe.nom }}</a></td>
                <td class="center">{{ groupe.nb_cours }}</td>
                <td class="center">{{ groupe.nb_modules }}</td>
				<td class="center">{{ groupe.nb_logins }}</td>
				<td class="center">{{ groupe.hier }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>{% trans "This list is empty" %}</p>
	{% endif %}

</div><!-- END .content -->
{% endblock content %}
