{% extends "in_session.html" %}
{% load i18n %}

{% block javascript %}
    <script type="text/javascript" src="/media/js/jquery-1.1.3.1.pack.js"></script>
    <script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
{% endblock javascript %}

{% block breadcrumb %}<a href="{% url c_admin %}">{% trans "administration" %}</a> &gt; {% trans "assignments" %}{% endblock breadcrumb %}

{% block content %}
<div class="content">

	{% include 'includes/filter.html' %}

	<h1>{% trans "Assignments management" %}</h1>

	<p><a href="{% url c_work_add %}" class="add">{% trans "Add new assignments" %}</a></p>

	{% if not liste_works %}
		<p>{% trans "No assignments here." %}</p>

	{% else %}

	<script type="text/javascript">
	    $(document).ready(function() {
	        $("#lista").tablesorter({ widgets: ['zebra']});
	        var c = [[0,0],[1,0]];
	        $("#lista").trigger("sorton",[c]);
	        return false;
	})
	</script>
		<table id="lista">
			<thead>
				<tr>
					<th>{% trans "Group" %}</th>
					<th>{% trans "Deadline" %}</th>
					<th>{% trans "Course" %}</th>
					<th>{% trans "Assignment" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for work in liste_works %}
	            <tr>
					<td>{{ work.groupe.nom }}</td>
					<td>{{ work.echeance }}</td>
					<td>{{ work.cours.title }}</td>
					<td><a href="{% url c_work_manage %}?id={{ work.id }}">{{ work.titre }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

</div><!-- END .content -->
{% endblock content %}
