{% extends "in_session.html" %}
{% load i18n %}

{% block javascript %}
    <script type="text/javascript" src="/media/js/jquery-1.1.3.1.pack.js"></script>
    <script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
{% endblock javascript %}

{% block content %}
<div class="content">

{% include 'includes/filter.html' %}

	{% if not liste_utilisateurs %}

		<p>{% trans "This group is empty" %}</p>

	{% else %}

		<h1>{% trans "Students management" %}{% if gid %} - {{ gid.nom }}{% endif %}</h1>
		{% if gid %}
		<ul>
			<li><a href="{% url c_sendmail %}?gid={{ gid.id }}">{% trans "Send a mail to this group" %}</a></li>
			<li><a href="{% url c_csv %}?gid={{ gid.id }}">{% trans "Save this table as a .csv file" %}</a></li>
			<li><a href="{% url c_timecsv %}?gid={{ gid.id }}">{% trans "Get a report of time spent per module as a .csv file" %}</a></li>
		</ul>
		{% endif %}
		{%if gid.workdone %}
		<p class="nop">{% trans "Download works from this group:" %}</p>
		<ul>
		{% for work in gid.workdone %}
			<li class="nop"><a href="/upload/workdone/{{ work }}">{{ work }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}

		<div class="info">
			<h2>{% trans "Information" %}</h2>
			<p>{% trans "Time spent by the students is estimated and should not be seen as accurate." %}<br />
				{% trans "The number of currently late modules is calculated once per day on midnight (Europe/Paris time)." %}</p>
		</div>

		<script type="text/javascript">
		    $(document).ready(function() {
		        $("#lista").tablesorter({ widgets: ['zebra']});
				{% if gid %}
				var c = [[7,1]];
				{% else %}
				var c = [[0,0],[7,1]];
				{% endif %}
		        $("#lista").trigger("sorton",[c]);
		        return false;
		})
		</script>
			<table id="lista">
				<thead>
					<tr>
						{% if not gid %}
						<th>{% trans "Group" %}</th>
						{% endif %}
						<th>{% trans "Name" %}</th>
						<th>{% trans "Login" %}</th>
						<th class="center">{% trans "Progress" %}</th>
						<th class="center">{% trans "Done Late" %}</th>
						<th class="center">{% trans "Time Spent" %}</th>
						<th class="center">{% trans "Last Work" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for utilisateur in liste_utilisateurs %}
					<tr>
						{% if not gid %}
						<td>{{ utilisateur.groupe.nom }}</td>
						{% endif %}
						<td>{{ utilisateur.nom_prenom }}</td>
						<td><a href="{% url c_detail %}?id={{ utilisateur.id }}">{{ utilisateur.login }}</a></td>
						<td class="center">{{ utilisateur.nb_valides }}/{{ utilisateur.nb_modules }}</td>
		                <td class="center">{{ utilisateur.nb_retards }}</td>
						<td class="center">{{ utilisateur.time_elapsed }}</td>
		                <td class="center">{% if utilisateur.lastw %}{{ utilisateur.lastw }}{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	{% endif %}

</div><!-- END .content -->
{% endblock content %}
