{% extends "in_session.html" %}
{% load i18n %}

{% block content %}
<div class="content">

	<div class="admin-item">
    <h1><a href="{% url c_detail %}?id={{ u.id }}">{{ u.prenom_nom }}</a> - <a href="{% url c_lista %}?groupe={{ u.groupe.id }}">{{ u.groupe }}</a></h1>
	</div>

	<div class="admin-item">
		<h2>{% trans "Log : 50 last pages viewed" %}</h2>
		<table>
			<thead>
				<tr>
					<th style="width: 35%;">{% trans "Date" %}</th>
					<th>{% trans "Url" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for log in logs %}
				<tr class="{% cycle odd,even %}">
					<td>{{ log.date }}</td>
					<td>{{ log.path }}{% if log.qstring %}?{{ log.qstring }}{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div><!-- END .content -->
{% endblock content %}
