{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
{% if admin %}
&gt; <a href="{% url c_lista %}?l">{% trans "students" %}</a>
{% endif %}
&gt; <a href="{% url c_detail %}?id={{ u.id }}">{% trans "detail" %}</a>
&gt; {% trans "log" %}
{% endblock breadcrumb %}


{% block content %}
<div class="content">

	<div class="admin-item">
		<h1>{{ u.prenom_nom }}</h1>
		<ul>
			{% if admin %}<li><a href="{% url c_ficha utilisateur=u.login %}">{% trans "Change this user's profile" %}</a></li>{% endif %}
			<li><a href="{% url c_detail %}?id={{ u.id }}">{% trans "Back to this user's details" %}</a></li>
		</ul>
	</div>

	<div class="admin-item">
		<h2>{% trans "Log : 50 last pages viewed" %}</h2>
		<table>
			<thead>
				<tr>
					<th style="width: 35%;">{% trans "Date" %}</th>
					<th>{% trans "Url" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for log in logs %}
				<tr class="{% cycle odd,even %}">
					<td>{{ log.date }}</td>
					<td>{{ log.path }}{% if log.qstring %}?{{ log.qstring }}{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div><!-- END .content -->
{% endblock content %}
