<!-- vim: set encoding=utf8 fileencoding=utf8: -->
{% load i18n %}
{% extends "in_session.html" %}

{% block menu %}
<p><a href="/logout/">{% trans "Log out" %}</a></p>
<p><a href="/learning/profile/">{% trans "My account" %}</a></p>
<p><a href="/learning/tdb/">{% trans "Dashboard" %}</a></p>
<p><a href="/coaching/">{% trans "Administration" %}</a></p>
{% endblock menu %}

{% block breadcrumb %}
<a href="/coaching/">{% trans "administration" %}</a>
&gt; {% trans "create logins" %}
{% endblock breadcrumb %}

{% block content %}
{% if msg %}<p class="infomsg">{{ msg }}</p>{% endif %}
{% if errmsg %}<p class="errmsg">{{ errmsg }}</p>{% endif %}
<form method="post">
    
<fieldset>
<h2>{% trans "File" %}</h2>
<p><label for="fsource">{% trans "Uploaded source file" %}</label> {{ fsource }}</p>
</fieldset>

<fieldset>
<h2>{% trans "Group" %}</h2>
<p><label for="groupe">{% trans "Group" %}</label>{{ groupe.nom }}</p>
</fieldset>

<fieldset>
<h2>{% trans "Settings" %}</h2>
<p><label for="langue">{% trans "Preferred language" %}</label> {{ langue }}</p>
<p><label for="fermeture">{% trans "Valid till" %}</label> {{ fermeture }}</p>
<p><label for="envoi_mail">{% trans "Send credentials by mail" %}</label>{% if envoi_mail %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</p>
</fieldset>

<h2>{% trans "Logins to create" %}</h2>
<table>
<thead>
<tr>
<th>{% trans "Last name" %}</th>
<th>{% trans "First name" %}</th>
<th>{% trans "Email" %}</th>
</tr>
</thead>
<tbody>
{% for login in logins %}
<tr class="{% cycle odd,even %}">
<td>{{ login.nom }}</td>
<td>{{ login.prenom }}</td>
<td>{{ login.email }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<input type="hidden" name="fsource" value="{{ fsource }}" />
<input type="hidden" name="groupe" value="{{ groupe.id }}" />
<input type="hidden" name="langue" value="{{ langue }}" />
<input type="hidden" name="fermeture" value="{{ fermeture }}" />
<input type="hidden" name="envoi_mail" value="{{ envoi_mail }}" />

<p><input type="submit" value="{% trans "Create" %}" /></p>

</form>
{% endblock content %}
