{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
&gt; {% trans "create logins" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

<h1>{% trans "Login creation" %}</h1>

	{% if msg %}<p class="infomsg">{{ msg|safe }}</p>{% endif %}
	{% if errmsg %}<p class="errmsg">{{ errmsg|safe }}</p>{% endif %}

	<form action="" method="post">
    
		<fieldset>
			<h2>{% trans "File" %}</h2>
			<p><label for="fsource">{% trans "Uploaded source file" %}</label> {{ fsource }}</p>
		</fieldset>

		<fieldset>
			<h2>{% trans "Group" %}</h2>
			<p><label for="groupe">{% trans "Group" %}</label>{{ groupe.nom }}</p>
		</fieldset>

		<fieldset>
			<h2>{% trans "Settings" %}</h2>
			<p><label for="langue">{% trans "Preferred language" %}</label> {{ langue }}</p>
			<p><label for="fermeture">{% trans "Valid till" %}</label> {{ fermeture }}</p>
			<p><label for="envoi_mail">{% trans "Send credentials by mail" %}</label>{% if envoi_mail %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</p>
		</fieldset>

		<h2>{% trans "Logins to create" %}</h2>
		<table>
		<thead>
		<tr>
		<th>{% trans "Last name" %}</th>
		<th>{% trans "First name" %}</th>
		<th>{% trans "Email" %}</th>
		</tr>
		</thead>
		<tbody>
		{% for login in logins %}
		<tr class="{% cycle odd,even %}">
		<td>{{ login.nom }}</td>
		<td>{{ login.prenom }}</td>
		<td>{{ login.email }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>

		<input type="hidden" name="fsource" value="{{ fsource }}" />
		<input type="hidden" name="groupe" value="{{ groupe.id }}" />
		<input type="hidden" name="langue" value="{{ langue }}" />
		<input type="hidden" name="fermeture" value="{{ fermeture }}" />
		<input type="hidden" name="envoi_mail" value="{{ envoi_mail }}" />

		<fieldset class="submit">
			<input type="submit" value="{% trans "Create" %}" />
		</fieldset>

	</form>

</div><!-- END .content -->
{% endblock content %}
