{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
&gt; {% trans "log" %}
{% endblock breadcrumb %}


{% block content %}
<div class="content">

	<h1>{% trans "Log : last 7 days" %}</h1>
	<table>
		<thead>
		<tr>
			<th style="width: 25%;">{% trans "Date" %}</th>
			<th style="width: 35%;">{% trans "Student" %}</th>
			<th>{% trans "Url" %}</th>
		</tr>
		</thead>
		<tbody>
		{% for log in logs %}
		<tr class="{% cycle odd,even %}">
			<td>{{ log.date }}</td>
			<td><a href="{% url c_detail %}?id={{ log.utilisateur.id }}">{{ log.utilisateur.nom_prenom }}</a></td>
			<td>{{ log.path }}{% if log.qstring %}?{{ log.qstring }}{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

</div><!-- END .content -->
{% endblock content %}
