{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
&gt; <a href="{% url c_echeance %}">{% trans "deadlines" %}</a>
&gt; {% trans "change" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

	<h1>{% trans "Change or delete a deadline" %}</h1>
    <a href="{% url c_echeance %}?l">{% trans "Back to list" %}</a>

	{% if msg %}<p class="infomsg">{{ msg|safe }}</p>{% endif %}

	<form action="" method="post"{%if echeance %} class="deleted"{% endif %}>
		<fieldset>
			<h2>{% trans "Group or Student" %}</h2>
			<p><label for="groupe">{% trans "Group" %}</label> <strong>{{ groupe.nom }}</strong></p>
			<p><label for="utilisateur">{% trans "Student" %}</label> <strong>{{ utilisateur.nom_prenom }}</strong></p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Course or Module" %}</h2>
			<p><label for="cours">{% trans "Course" %}</label> <strong>{{ cours.slug }}</strong></p>
			<p><label for="module">{% trans "Module" %}</label> <strong>{{ module.slug }}</strong></p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Deadline" %}</h2>
			{% if echeance %}
			<p><label for="deadline">{% trans "Deadline" %}</label> {{ echeance }}</p>
		</fieldset>
		{% else %}
			<p{% if form.deadline.errors %} class="error"{% endif %}><label for="id_{{ form.deadline.name }}">{{ form.deadline.label }}</label> {{ form.deadline }} {{ form.errors.deadline}}</p>
		</fieldset>
		<fieldset class="submit">
		<input type="submit" value="{% trans "Save" %}" />
		<input type="submit" value="{% trans "Delete this deadline" %}" name="trash" style="color: red; font-weight: bold;" />
		</fieldset>
		{% endif %}
	</form>

</div><!-- END .content -->
{% endblock content %}
