{% extends "in_session.html" %}
{% load i18n %}

{% block breadcrumb %}
<a href="{% url c_admin %}">{% trans "administration" %}</a>
&gt; <a href="{% url c_work %}">{% trans "assignments" %}</a>
&gt; {% trans "change" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

	<h1>{% trans "Change or delete an assignment" %}</h1>
    <a href="{% url c_work %}?l">{% trans "Back to list" %}</a>
	{% if msg %}<p class="infomsg">{{ msg|safe }}</p>{% endif %}

	<form action="" method="post"{%if deleted %} class="deleted"{% endif %}>
		<fieldset>
			<h2>{% trans "Group" %}</h2>
			<p><label for="groupe">{% trans "Group" %}</label> {{ groupe.nom }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Course" %}</h2>
			<p><label for="cours">{% trans "Course" %}</label> {{ cours.title }}</p>
		</fieldset>
		<fieldset>
			<h2>{% trans "Assignment" %}</h2>
			{% if echeance %}
			<p><label for="deadline">{% trans "Deadline" %}</label> {{ echeance }}</p>
			{% else %}
			<p><label for="deadline">{% trans "Deadline" %}</label> {% trans "No deadline" %}</p>
			{% endif %}
			{% if titre %}
			<p><label for="titre">{% trans "Title" %}</label> {{ titre }}</p>
			{% if libel %}
			<p><label for="description">{% trans "Description" %}</label> {{ libel }}</p>
			{% endif %}
			{%if fichier %}
			<p><label for="filename">{% trans "Additional document" %}</label> {{ fichier }}</p>
			{% endif %}
		</fieldset>
			{% else %}
			<p><label for="id_{{ form.titre.name }}">{{ form.titre.label }}</label> {{ form.titre }} {{ form.errors.titre}}</p>
			<p><label for="id_{{ form.libel.name }}">{{ form.libel.label }}</label> {{ form.libel }} {{ form.errors.libel}}</p>
			{% if fichier %}
			<p><label for="filename">{% trans "Current document" %}</label> {{ fichier }}</p>
			<p><em>{% trans "You may change it below:" %}</em></p>
			{% endif %}
			<p><label for="id_{{ form.fichier.name }}">{{ form.fichier.label }}</label> {{ form.fichier }} {{ form.errors.fichier }}</p>
		</fieldset>
		<fieldset class="submit">
			<input type="submit" value="{% trans "Save" %}" />
			<input type="submit" value="{% trans "Delete this assignment" %}" name="trash" style="color: red; font-weight: bold;" />
		</fieldset>
		{% endif %}
	</form>

</div><!-- END .content -->
{% endblock content %}
