{% extends "base.html" %}
{% block menu %}
<!-- menu principal -->
	  <p><a href="/" accesskey="c">Home</a></p>
      <p><a href="/products/" accesskey="a">Products</a></p>
      <p><a href="/login/" accesskey="a">Login</a></p>
      <p><a href="/about/" accesskey="a">About</a></p>
{% endblock %}
{% block breadcrumb %}Innovative e-learning Master{% endblock breadcrumb %}
{% block content %}
<div id="rightcol">
<h2>{{ object.get_section_display }}</h2>
<ul>
{% for p in pages_list %}
<li><a href="{{ p.get_absolute_url }}">{{ p.titre }}</a></li>
{% endfor %}
</ul>
</div><!-- rightcol -->

<div class="contpage">
{% block contenu %}{% endblock %}
</div>
{% endblock %}
