{% extends "base.html" %}
{% load i18n %}

{% block baselink %}{% endblock baselink %}
{% block javascript %}{% endblock javascript %}

{% block login_inline %}{% endblock %}
{% block lang %}{% endblock %}
{% block product_nav %}{% endblock %}

{% block user_infos %}
<p><a class="user" href="{% url l_profile %}">{{ visiteur }}</a></p>
<p><a class="logout" href="{% url logout %}">{% trans "Logout" %}</a></p>
{% endblock %}

{% block nav %}
<div id="nav-container">
	<ul id="nav">

		{% if administrateur %}<li><a href="{% url c_admin %}"{% ifequal here 'admin' %} class="selected"{% endifequal %}>{% trans "Administration" %}</a></li>{% endif %}

		<li><a href="{% url l_dashboard %}"{% ifequal here 'dashboard' %}
			class="selected"{% endifequal %}>{% trans "Dashboard" %}</a></li>
		<li><a href="{% url l_profile %}"{% ifequal here 'profile' %}
			class="selected"{% endifequal %}>{% trans "Profile" %}</a></li>
	</ul>
</div>{% endblock %}

{# {% block session %} #}
{# <p>{{ visiteur }}{% if vgroupe %} - {{ vgroupe }}{% endif %}</p> #}
{# {% endblock session %} #}

{% block content %}{% endblock content %}
