{% extends "in_session.html" %}
{% load i18n %}

{% block baselink %}
<!-- ie behaviour -->
<style type="text/css">img {behavior: url("/media/css/pngbehavior.htc");}</style>
<base href="{{ baselink }}" />
{% endblock baselink %}
{% block javascript %}<script type="text/javascript" src="/media/js/support.js"></script>{% endblock javascript %}

{% block breadcrumb %}
<a href="{% url l_dashboard %}">{% trans "dashboard" %}</a>
&gt; {% trans "handout" %}
{% endblock breadcrumb %}

{% block content %}
<div class="content">

	{% if msg %}<p class="infomsg">{{ msg|safe }}</p>{% endif %}

	<div class="info" id="aide">
		<p>{% trans "Click on the sections (sub)titles to show or hide their contents. Click on the chapter's title to show or hide the outline." %} <a href="javascript: openClose('aide',0)">{% trans "Hide this" %}</a></p>
	</div>

	{{ support|safe }}

</div><!-- END .content -->
{% endblock content %}
