{% load i18n %}
{% extends "in_session.html" %}

{% block baselink %}
<!-- ie behaviour -->
<style type="text/css">img {behavior: url("/media/style/pngbehavior.htc");}</style>
<base href="{{ baselink }}" />
{% endblock baselink %}
{% block javascript %}<script type="text/javascript" src="/media/js/support.js"></script>{% endblock javascript %}

{% block breadcrumb %}
<a href="/learning/tdb/">{% trans "dashboard" %}</a>
&gt; {% trans "handout" %}
{% endblock breadcrumb %}

{% block content %}
{% if msg %}
<p class="infomsg">{{ msg|safe }}</p>
{% endif %}
{{ support|safe }}
{% endblock content %}
